<!-- Main -->
<main id="main">

  <!-- Login 13 - Bootstrap Brain Component -->
  <section class="bg-light py-3 py-md-5 min-vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
          <div class="card border border-light-subtle rounded-3 shadow-sm">
            <div class="card-body p-3 p-md-4 p-xl-5">
              <div class="text-center mb-3">
                <a href="index.html">
                  <img src="./assets/img/branding/InventoryAppBlack.png" width="50%" class="bsb-tpl-logo" alt="BootstrapBrain Logo">
                </a>
              </div>
              <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Sign in to your account</h2>

              <form [formGroup]="loginForm">
                <div class="row gy-2 overflow-hidden">

                  <div class="col-12">
                    <div class="form-group form-floating mb-3">
                      <input type="text" id="username" formControlName="username" class="form-control" name="username"
                        class="form-control" placeholder="Username" required>
                      <label for="username" class="form-label">Username</label>
                      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
                        class="text-danger">
                        El nombre de usuario es obligatorio
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="password" id="password" formControlName="password" class="form-control"
                          name="password" class="form-control" placeholder="Password" required>
                        <label for="password" class="form-label">Password</label>
                        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                          class="text-danger">
                          El password es obligatorio
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="d-grid my-3">
                      <!-- <button class="btn btn-primary btn-lg" type="submit">Log in</button> -->
                      <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
                      <div *ngIf="" class="alert alert-danger"> </div>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>