  <!-- Main -->
  <main id="main">

    <!-- Section - Bootstrap Brain Component -->
    <!-- Breadcrumb -->
    <section class="py-3 py-md-4 py-xl-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h4">Validation</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb m-0 fs-7">
                <li class="breadcrumb-item"><a class="link-primary text-decoration-none" href="index.html">Home</a></li>
                
                <li class="breadcrumb-item"><a class="link-primary text-decoration-none" routerLink="/proveedores">Proveedores</a></li>
                
                <li class="breadcrumb-item active" aria-current="page">{{ isEdit ? 'Editar Proveedor' : 'Crear Proveedor' }}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <!-- Section - Bootstrap Brain Component -->
    <section class="pb-3 pb-md-4 pb-xl-5 bg-light">
      <div class="container">
        <div class="row gy-3 gy-md-4 justify-content-center">
          <div class="col-12 col-lg-6">
            <div class="row gy-3 gy-md-4">
              <div class="col-12">
                <div class="card widget-card border-light shadow-sm mx-auto">
                    <div class="card-header bg-transparent p-4 border-light-subtle">
                    <h5 class="card-title widget-card-title m-0">{{ isEdit ? 'Editar Proveedor' : 'Crear Proveedor' }}</h5>
                  </div>
                  <div class="card-body p-4">
                    <form class="row g-3" [formGroup]="proveedorForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="nombreProveedor">Nombre</label>
                            <input id="nombreProveedor" type="text" formControlName="nombreProveedor" class="form-control">
                            <div *ngIf="proveedorForm.get('nombreProveedor')?.invalid && proveedorForm.get('nombreProveedor')?.touched" class="text-danger">
                              El nombre es obligatorio
                            </div>
                          </div>
                      
                          <div class="form-group">
                            <label for="direccionProveedor">Dirección</label>
                            <input id="direccionProveedor" type="text" formControlName="direccionProveedor" class="form-control">
                            <div *ngIf="proveedorForm.get('direccionProveedor')?.invalid && proveedorForm.get('direccionProveedor')?.touched" class="text-danger">
                              La dirección es obligatoria
                            </div>
                          </div>
                          
                          <div class="form-group col-md-4">
                            <label for="telefonoProveedor">Teléfono</label>
                            <input id="telefonoProveedor" type="text" formControlName="telefonoProveedor" class="form-control">
                            <div *ngIf="proveedorForm.get('telefonoProveedor')?.invalid && proveedorForm.get('telefonoProveedor')?.touched" class="text-danger">
                              El teléfono es obligatorio
                            </div>
                          </div>
                          
                          <div class="form-group col-md-8">
                            <label for="emailProveedor">Email</label>
                            <input id="emailProveedor" type="text" formControlName="emailProveedor" class="form-control">
                            <div *ngIf="proveedorForm.get('emailProveedor')?.invalid && proveedorForm.get('emailProveedor')?.touched" class="text-danger">
                              El email es obligatorio
                            </div>
                          </div>
                      
                      
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary" [disabled]="proveedorForm.invalid">
                            {{ isEdit ? 'Actualizar' : 'Crear' }}
                          </button>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>